body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

.container{
	width: 50vw;
	height: 80vh;
	margin: 0 auto;
	position: relative;
	z-index: 8;
	border-radius: 10px;
	background:linear-gradient(45deg, rgba(212,208,190,0.85) 1%, rgba(201,180,144,0.85) 60%, rgba(194,161,113,1) 100%);

	background-size: cover;
	color: #000;
	-webkit-box-shadow: 0 0 14px 6px rgba(0,0,0,0.75);
	-moz-box-shadow: 0 0 14px 6px rgba(0,0,0,0.75);
	box-shadow: 0 0 14px 6px rgba(0,0,0,0.75);
}

.main{
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height:100vh;
}

.logo{
	padding: 1vw;
}
.logo img{
	height: 2.5vw;
}
.main-overlay{
	background-color: rgb(0, 0, 0);
	opacity: 0.302;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
}

.bg-image{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: no-repeat top/100% url("../images/bg.jpg");
	-webkit-filter: blur(4px);
	filter: blur(4px);
}

header{
	display: flex;
	justify-content: space-between;
	height: 10vh;
	align-items: flex-start;
	width: 90%;
	position: relative;
	z-index: 8;

}

.header-back{
	height: 5vw;
	width: 100%;
	opacity: 0.60;
	background-color: #000;
}

.menu{
	width: 80vw;

}
.menu ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	font-size: 0.8vw;
}


.menu span{
	color: #fff;
	font-size: 1vw;
}

.menu span[class = 'discount'],
.menu span[class = 'current-phone'],
.menu span[class = 'current-mail'],
.menu span[class = 'current-date']{
	padding-right: 9vw;
}

.menu .login{
	margin-right: 4vw;
	color: #fff;
	font-size: 2.5vw;
	text-decoration: underline;
}
.menu .phone{
	margin-left: 4vw;
	font-size: 1vw;
	color: rgb(197, 157, 95);
	line-height: 1.375;
	z-index: 31;
}

.change-btn,
input[ name="main-page-btn"]
{
	background-color: rgb(197, 157, 95);
	border: 0;
	position: relative;
	width:10vw;
	height: 4vh;
	font-size: 1vw;
	cursor: pointer;
	outline: none;
}

#change-phone,
#change-mail,
#change-password{
	height: 3vh;
	width: 13vw;
}

p{
	font-size: 2vh;
	margin: 5vh 0 0 1vw;
}



form input{
	margin-left: 1vw;
}



.order-history{
	overflow: auto;
	width: 40vw;
	height: 20vh;
	margin-left: 1vw;
}
.order-history p{
	margin: 0 0 1vh;
	font-size: 0.8vw;
}

input[ name="main-page-btn"]{
	position: absolute;
	top: 65vh;
	left: 18vw;
	height: 6vh;
	font-size: 1.2vw;
	width: 11vw;
}

.result-chg{
	margin-left: 1vw;
	font-size: 1.3vw;
}

label[class = 'error']{
	position: absolute;
	display: flex;
	margin-left: 1vw;
	padding-top: 1vh;
}
