table{
    margin-top: 1vh;
    text-align: center;
    width: 50vw;
}
table, th, td {
    border: 1px solid black;
}

input[type = "text"]{
    width: 100%;
    background: inherit;
    text-align: center;
    outline: none;
    border: 0;
}

.save_btn{
    position: relative;
    margin: 2vh;
    height: 4vh;
    font-size: 1vw;
    width: 5vw;
    background-color: rgb(197, 157, 95);
    border: 0;
    cursor: pointer;
    outline: none;
}
.product-table{
    display: flex;
    justify-content: space-around;
}

.product-table table{
    width: auto;
}

.right-table{
    display: flex;
    flex-direction: column;
}

.upd_btn{
    position: relative;
    margin: 2vh;
    height: 4vh;
    font-size: 1vw;
    width: 5vw;
    background-color: rgb(197, 157, 95);
    border: 0;
    cursor: pointer;
    outline: none;
}
