@media screen and (max-width: 1024px) {

    .main{
        max-height: 680px;
    }
    .main-overlay{
        width: 100%;
        height: 40em;
    }

    .arrow-down img{
        width: 5vw;
        height: 3.5vh;
    }
    .select-button{
        height: 2vh;
    }
}
@media screen and (max-width: 770px) {

    .main{
        max-height: 510px;
    }
    .main-overlay{
        width: 100%;
        height: 30em;
    }

    .arrow-down img{
        width: 5vw;
        height: 3.5vh;
    }
    .pizza-description{
        font-size: 1vw;
        width: 80%;
    }
    .select-text{
        font-size: 0.85vw;
    }
    .menu ul{
        font-size: 1vw;
    }

    .logo img{
        height: 3vw;
    }
}

@media screen and (max-width: 414px) {
    .main{
        max-height: 110vw;
    }

    .visible-lg{
        display: none;
    }
    .show-menu-btn,.hide-menu-btn{
        display: block;
    }
    .m-menu{
        padding: 0;
        margin: 0;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #000;
        right: -100%;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.7s;
        z-index: 16;
    }
    .hide-menu-btn{
        position: absolute;
        top:0;
        right: 40px;
    }
    .m-menu a{
        display: block;
    }

    .m-menu__active{
        right: 0;
    }

    .phone{
        margin: 0;
        padding: 0;
        position: relative;

        font-size: 1rem;
        line-height: 4rem;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo img{
        height: 12vw;
    }
    .arrow-down img{
        width: 11vw;
        height: 5vh;
    }
    .header-back{
        height: 20vw;
    }
    .bg-image{
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-size: 160%;
    }

    .main-overlay{
        width: 100%;
        height: 26em;
    }
    .pizza-description{
        font-size: 2vw;
        width: 200%;
    }
    .select-button{
        margin-top: 1vh;
        align-self: center;
        width:60%;
        height: 4vh;
        padding-bottom: 5px;
    }
    .select-text{
        font-size: 1.7vw;

    }
    .inner-block{
        flex-direction: column-reverse;
    }

    .item {
        position: relative;
    }
    .item .alert {
        float: left;
        margin: 0 0 0 1vw;
        padding: 1vh 1vw;
        color: #FFF;
        border-radius: 3px 4px 4px 3px;
        background-color: #ef3030;
        max-width: 100vw;
        white-space: pre;
        position: absolute;
        left: -1vw;
        opacity: 0;
        z-index: 1;
        transition: .15s ease-out;
    }
    .item .alert::after {
        content: '';
        display: block;
        height: 0;
        width: 0;
        border-color: transparent #ef3030 transparent transparent;
        border-style: solid;
        border-width: 11px 7px;
        position: absolute;
        top: 0.5vh;
        left: -3vw;
    }
    .item.bad .alert {
        opacity: 1;
        top: 0.5vh;
        left: 25vw;
        font-size: 2vh;
        padding: 1vh 2vh;
    }

}

@media screen and (max-width: 375px) {

    .bg-image{
        background-size: 160%;
    }
    .main-overlay{
        width: 100%;
        height: 100vw;
    }
}