*{
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	margin: 0;
}

.main{
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height:100vh;
}

.logo{
	padding: 1vw;
}
.logo img{
	height: 2.5vw;
}
.main-overlay{
	background-color: rgb(0, 0, 0);
	opacity: 0.302;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
}

.bg-image{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: no-repeat top/100% url("../images/bg.jpg");
	-webkit-filter: blur(4px);
	filter: blur(4px);
}

header{
	display: flex;
	justify-content: space-between;
	height: 10vh;
	align-items: flex-start;
	width: 90%;
	position: relative;
	z-index: 8;
}

.header-back{
	height: 5vw;
	width: 100%;
	opacity: 0.60;
	background-color: #000;
}

.menu{
	width: 70vw;

}
.menu ul{
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	font-size: 0.8vw;

}
.menu-link{
	color: #fff;
	text-decoration: none;
}

.m-menu{
	display: none;
	float: right;
	line-height: 100px;
}

.m-menu__active{
	right: 0;
}

.m-menu a{
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 10px;
	transition: 0.4s;
}

.show-menu-btn,.hide-menu-btn{
	display: none;
	color: #fff;
	font-size: 2rem;
}

.show-menu-btn{
	float: right;
}
.show-menu-btn i{
	line-height: 100px;
}

.m-menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
	color: red;
}

.start-btn{
	color:#C59D5F;
	text-decoration: underline;
}

.phone{
	margin-left: 100px;
	font-size: 1vw;
	color: rgb(197, 157, 95);
	line-height: 1.375;
	z-index: 31;
}

.main-content{
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 10;
}

.main-arrow{
	position: relative;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}
.arrow-down img{
	width: 3vw;
	height: 6vh;
}
.button-left img{
	width: 1vw;
	height: 2vh;
}
.button-right img{
	width: 1vw;
	height: 2vh;
}
.pizza-text{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 25%;
	height:60%;
}
.pizza-name{
	font-size: 3vw;
	font-family: "1Isadora M Bold";
	color: rgb(255, 255, 255);
	line-height: 1.014;
	z-index: 18;

}

.pizza-description{
	font-size: 0.9vw;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	line-height: 1.625;
	width: 75%;
	height: 30%;
	z-index: 19;
}
.select-button {
	margin-top: 0.5vw;
	background-color: rgb(197, 157, 95);
	border: 0;
	position: relative;
	width:30%;
	height: 5vh;
	z-index: 21;
	visibility: inherit;
	outline: none;
	transition: 0.1s;
}
.select-button:hover{
	cursor: pointer;
}
.select-button:active{
	background-color: #a38453;
}

.select-text{
	font-size: 0.7vw;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.857;
	text-align: center;
	z-index: 22;
}
.pizza-image{
	width: 40%
}

.pizza-image img{
	height: 100%;
	width: 100%;
}
.inner-block{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.registration{
	background-color: #C59D5F;
	border: none;
	border-radius: 10vh;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.7vh;
	outline: none;
}

.registration:hover{
	cursor: pointer;
}

.nickblock{
	background-color: #C59D5F;
	border: none;
	border-radius: 10vh;
	color: white;
	padding: 15px 32px;
	outline: none;
	text-decoration: none;
	display: none;
}
.nick{
	margin:0;
	font-size: 2.2vh;
}

.nickblock:hover{
	cursor: pointer;
}

.modal-overlay {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	z-index: 20;
	transition: .3s all;
}

.modal {
	opacity: 0;
	visibility: hidden;
	width: 100%;
	max-width: 50vh;
	height: 30%;
	position: fixed;
	top: 30%;
	z-index: 30;
	box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
	border-radius: 3px;
	background-color: #91826e;
	transition: 0.3s all;
}
.js-modal-close{
	font-size: 2rem;
	width: 6%;
	height: 4vh;
	position: absolute;
	top: 1vh;
	right: 1.5vh;
	cursor: pointer;
}

.modal.active,
.modal-overlay.active{
	opacity: 1;
	visibility: visible;
}

.user_menu{
	background: #C59D5F;
	max-width: 20vh;
	height: 10%;
	position: absolute;
	top: 6vh;
	left: 58vw;
	border-radius: 2vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1vw;
}
.user_menu hr{
	width: 100%;
}

.flat-design-form{
	width: 100%;
	background: #C59D5F;
}

.tabs{
	margin: 0;
	height: 6vh;
	width: 90%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style-type:none;
}

.tabs a{
	text-decoration: none;
	color: #fff;
	font-size: 3vh;
	font-family: 'Verdana';
}

#login-tab{
	padding: 1vh 2.5vh 1.3vh 2.5vh;
	background: #91826e;
	transition: 0.5s;
}
#register-tab{
	padding: 1vh 2.5vh 1.3vh 2.5vh;
	transition: 0.5s;
}

.form-display {
	padding: 0 1vw;
	position: relative;
}

.form-display ul{
	list-style-type:none;
	padding: 0;
}

form {
	padding-right: 1vw !important;
	position: relative;
	top: 2vh;
	right: -1vw;
}

form fieldset{
	border: 0;
}

form input[type=text],
form input[type=password],
form input[type=email]
{
	width: 100%;
	outline: none;
	height: 4vh;
	margin-bottom: 1vh;
	padding-left: 1vw;
	background: #fff;
	border: none;
	color: #545454;
	font-family: 'Open Sans';
	font-size: 1.5vh;
}

form input[type=tel]{
	width: 100%;
	outline: none;
	height: 4vh;
	margin-bottom: 1vh;
	padding-left: 1vw;
	background: #fff;
	border: none;
	color: #545454;
	font-family: 'Open Sans';
	font-size: 1.5vh;
}
.show {
	display: block;
}

.hide {
	display: none;
}
.button-login{
	display: block;
	background: #C59D5F;
	padding: 1vh 1.5vw;
	font-size: 2vh;
	text-align: center;
	border-radius: 5px;
	font-family: 'Open Sans';
	color: white;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	border: 0;
	border-bottom: 2px solid #a38453;
	cursor: pointer;
	-webkit-box-shadow: inset 0 -2px #a38453;
	box-shadow: inset 0 -2px #a38453;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	transition: all 0.6s ease;
}
.button-login:hover {
	background: #a38453;
}

.button-register{
	display: block;
	background: #d46509;
	padding: 1vh 1.5vw;
	font-size: 2vh;
	text-align: center;
	border-radius: 5px;
	font-family: 'Open Sans';
	color: white;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	border: 0;
	border-bottom: 2px solid #6e512c;
	cursor: pointer;
	-webkit-box-shadow: inset 0 -2px #6e512c;
	box-shadow: inset 0 -2px #6e512c;
	-webkit-transition: all 0.9s ease;
	-moz-transition: all 0.9s ease;
	transition: all 0.9s ease;
}
.button-register:hover {
	background: #6e512c;
}

#register{
	height: 40vh;
	background-color: #af8043;
}



label.error{
	margin: 0 0 0 1vw;
	color: #FFF;
	border-radius: 3px 4px 4px 3px;
	background-color: #ef3030;
	font-size: 1.3vh;
	padding: 1vh;
	width: 100%;
	max-width: 10vw;
	display: inline-block;
	position: absolute;
	top:2.7vh;
	left: 16vw;
}
#password-error{
	position: absolute;
	top:7.7vh;
	left: 16vw;
}
#reg_email-error{
	position: absolute;
	top:17.7vh;
	left: 16vw;
}
#phone-error{
	position: absolute;
	top:22.7vh;
	left: 16vw;
}
#confirm_password-error{
	position: absolute;
	top:12.7vh;
	left: 16vw;
}


.second{
	height: 80vh;
	background: #f4f4f4
}
.pizza-selector{
	background: #fff;
	margin: 0 auto;
	width: 65%;
	height: 85vh;
	position: relative;
	top: -5vh;
	z-index: 6;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.carousel-right{
	position: absolute;
	top: 20vh;
	right: 0;
}

.carousel-right:hover{
	cursor: pointer;
}

.carousel-left:hover{
	cursor: pointer;
}

.carousel-left{
	position: absolute;
	top: 20vh;
	left: 0;
	z-index: 1;
}

.pizza-title{
	margin-top: 5vh;
	font-size: 3vh;
	color: rgb(21, 21, 21);
	text-transform: uppercase;
	line-height: 1.083;
	text-align: center;
}

.pointers{
	position: relative;
	left: 30.7vw;
	display: flex;
	width: 3vw;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 3vh;
	z-index: 6;

}

.first-pointer{
	border-radius: 50%;
	background-color: rgb(242, 220, 187);
	width: 15px;
	height: 15px;
}
.second-poiner{
	border-radius: 50%;
	background-color: rgb(242, 220, 187);
	width: 15px;
	height: 15px;
}

.third-pointer{
	border-radius: 50%;
	background-color: rgb(197, 157, 95);
	width: 15px;
	height: 15px;
}

.pizza-carousel{
	display: flex;
	width: 100%;
	height: 70vh;
	margin-bottom: 4vh;
	align-items: center;
	justify-content: space-around;
}
.pizza-inner{
	margin-top:3vh;
	margin-right:4vw;
	margin-left: 4vw;
	width: 15vw;
	max-width: 15vw;
	height: 55vh;
}

.salad-inner{
	margin-top:3vh;
	width: 15vw;
	max-width: 15vw;
	height: 51vh;
	background: #fff;
}

.salad-info{
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 25vh;
}
.salad-info img{
	height: 11vw;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.salad-price{
	background: #c59d5f;
	width: 8vh;
	height: 8vh;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 17vh;
	left: 6vw;
}
.salad-text p{
	font-size: 2.5vh;
	font-family: "Raleway";
	color: rgb(21, 21, 21);
	font-weight: bold;
	line-height: 0.156;
	text-align: center;
}

.salad-text p.salad-text-comment{
	font-weight: normal;
	font-size: 1.4vh;
	font-family: "Raleway";
	color: rgb(21, 21, 21);
	line-height: 1.615;
	text-align: center;
}

.salad-ingredients p{
	margin-top: 3vh;
	background: #f2f2f2;
	width: 100%;
	height: 8vh;
	font-size: 1.4vh;
	font-family: "Raleway";
	color: rgb(21, 21, 21);
	line-height: 1.667;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0;
}

.salad-select{
	background-color: #c59d5f;
	border: 0;
	top: 3vh;
	left: 4vw;
	color: #fff;
	width:100%;
	height: 5.5vh;
	visibility: inherit;
	outline: none;
	transition: 0.1s;
	cursor: pointer;
}

.price-text{
	font-size: 1.5vh;
	font-family: "Raleway";
	color: rgb(255, 254, 254);
	font-weight: bold;
	line-height: 0.333;
	text-align: center;

}
.pizza-select{
	background:no-repeat center/900% url("../images/flour.jpg");
	width: 100%;
	height: 35vh;
	position: relative;
}
.pizza-select img{
	height: 13vw;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.price-rectangle{
	background: #c59d5f;
	height: 3vh;
	width: 5vw;
	position: absolute;
	top: 30vh;
	left: 10.9vw;
}

.price-rectangle span{
	font-size: 2.2vh;
	font-family: "Roboto Condensed";
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.083;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pizza-inner h3{
	margin-top: 2vh;
}
.pizza-inner hr{
	width: 100%;
	border:1px solid #c59d5f;
}
.pizza-ingredients{
	font-size: 1.5vh;
	font-family: "Raleway";
	color: rgb(21, 21, 21);
	line-height: 1.3;
	text-align: left;
}
.pizza-size-26{
	border: 0.5vh solid #c59d5f;
	width: 4.5vh;
	height: 4.5vh;
	border-radius: 50%;
	position: relative;
	top: 29vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pizza-size-32{
	border: 0.5vh solid #c59d5f;
	width: 5vh;
	height: 5vh;
	border-radius: 50%;
	position: relative;
	top: 24.3vh;
	left: 2.5vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pizza-size-26,
.pizza-size-32:hover{
	cursor: pointer;
}

.size-back{
	background: #9e7b46;
}

.size-text{
	font-size: 2vh;
	font-family: "Roboto Condensed";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.083;
}
.select-pizza-btn{
	background-color: #c59d5f;
	border: 0;
	/*position: relative;*/
	/*top: 3vh;*/
	/*left: 4vw;*/
	color: #fff;
	width:45%;
	height: 4vh;
	visibility: inherit;
	outline: none;
	transition: 0.1s;
	cursor: pointer;
}

.third{
	height: 100vh;
	position: relative;
}

.saladbg{
	background: no-repeat top/115% url("../images/salat.jpg");
	z-index: 4;
}
.saladoverlay{
	z-index:5;
	opacity: 0.6;
}
.additionalarrow{
	position: relative;
	top: 5vh;
}

.salad-content{
	width: 65%;
	height: 100vh;
	margin:0 auto;
	z-index: 8;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.drink-content{
	width: 65%;
	height: 85vh;
	margin:0 auto;
	z-index: 8;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.salad-title{
	z-index: 5;
	margin-top: 5vh;
	font-size: 3vh;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.083;
	text-align: center;
}
.salad-desc{
	margin-top: 1vh;
	font-size: 2vh;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	line-height: 1.556;
	text-align: center;
	z-index: 5;
}
.salad-carousel{
	display: flex;
	width: 100%;
	height: 70vh;
	margin-bottom: 4vh;
	align-items: center;
	justify-content: space-between;
	z-index: 5;
}

.fourth{
	height: 85vh;
	position: relative;
	background: #f4f4f4;
}
.drink-title{
	margin-top: 5vh;
	font-size: 3vh;
	color: rgb(21, 21, 21);
	text-transform: uppercase;
	line-height: 1.083;
	text-align: center;
}
.drink-desc{
	margin-top: 1vh;
	font-size: 2vh;
	font-family: "Raleway";
	color: rgb(51, 51, 51);
	line-height: 1.556;
	text-align: center;
}
.drink-carousel{
	display: flex;
	width: 100%;
	height: 70vh;
	margin-bottom: 4vh;
	align-items: center;
	justify-content: space-around;
	z-index: 5;
}

.drink-inner img{
	height: 30vh;
}

.drink-inner{
	margin-left:5vw;
	margin-right:5vw;
	transition: 0.5s;
	transform: scale(0.6);
}

.drink-name{
	font-size: 18px;
	font-family: "Raleway";
	color: rgb(51, 51, 51);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.556;
	text-align: center;
	margin-bottom: 0.1vh;

}

.select-drink-btn{
	background-color: #c59d5f;
	border: 0;
	color: #fff;
	width:100%;
	height: 4vh;
	visibility: inherit;
	margin-top: 1vh;
	outline: none;
	transition: 0.1s;
	cursor: pointer;
}

.drink-price{
	font-size: 16px;
	font-family: "Raleway";
	color: rgb(153, 153, 153);
	font-weight: bold;
	line-height: 0.55;
	text-align: center;
}

.drink-inner{
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer{
	height: 160vh;
	position: relative;
}
.uptext{
	background: no-repeat top/100% url("../images/flour.jpg");
	width: 100%;
	height: 40vh;
	flex-direction: column;
	display: flex;
	align-items: center;
}

.footertitle{
	margin-top: 10vh;
	font-size: 3vh;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.083;
	text-align: center;
}
.footerdesc{
	margin-top: 5vh;
	margin-bottom: 10vh;
	width: 40vw;
	font-size: 2vh;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	line-height: 1.556;
	text-align: center;
}

.order-container{
	width: 100%;
	height: 80vh;
	background: #f4f4f4;
	z-index: 2;
}
.order-content{
	display: flex;
	width: 65%;
	margin: 0 auto;
	height: 70vh;
	margin-bottom: 4vh;
	align-items: center;
	justify-content: space-between;
	z-index: 5;
}
.order{
	position: relative;
	width: 20vw;
	height: 55vh;
	background: #262626;
}
.stroke{
	border: 1px #515151 solid;
	width: 90%;
	height: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stroke span{
	font-size: 3.5vh;
	font-family: "Raleway";
	text-transform: uppercase;
	line-height: 1.684;
}

.order-items{
	/*border: red 1px solid;*/
	width: 16vw;
	height: 25vh;
	overflow: auto;
}

.order-items ul{
	list-style-type: none;
	list-style-image: url(../images/remove.png);
	color: #fff;
}

hr{
	width: 80%;
}
.price{
	display: flex;
	margin-bottom: 0.5vh;
}
.price .orange-text{
	text-transform: lowercase;
}

.orange-text{
	color: #c59d5f;
}
.white-text{
	color: rgb(255, 255, 255);
}

.order-buttons{
	width: 80%;
	display: flex;
	justify-content: space-between;

}

.formalize-btn{
	background-color: #c59d5f;
	border: 0;
	position: relative;
	color: #fff;
	width:45%;
	height: 4vh;
	visibility: inherit;
	outline: none;
	transition: 0.1s;
	cursor: pointer;
}

.drop-btn{
	cursor: pointer;
	background: none;
	border:none;
	color: #989898;
	text-decoration: underline;
	font-size: 1.7vh;
	outline: none;
}

.comments{
	width: 40vw;
	height: 50vh;
	display: flex;
}
.comments img[src = "resources/images/text_bon.png"]{
	height: 20vh;
}
.comments img[src = "resources/images/pizza_bon.png"]{
	width: 20vw;
}

.downtext{
	background: no-repeat top/150% url("../images/flour.jpg");
	width: 100%;
	height: 47vh;
	flex-direction: column;
	display: flex;
	align-items: center;
}

.downtext .info{
	width: 65%;
	height: 100vh;
	display: flex;
	margin: 3vw auto;
	justify-content: space-around;
}

.downtext .info p[class="title"]{
	font-size: 2vh;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.444;
	text-align: left;
}

.first-title {
	color: white;
	width:25%;
}
.second-title{
	width: 25%;
}
.third-title{
	width: 25%;
}

.first-title .simpledesc{
	font-size: 1.5vh;
	font-family: "Raleway";
	color: rgba(255, 255, 255, 0.5);
	line-height: 1.857;
	text-align: left;
	margin-bottom: 3vh;
}
.first-title a{
	font-size: 2vh;
	font-family: "FontAwesome";
	color: rgb(255, 255, 255);
	line-height: 1.857;
	text-align: left;
}
.first-title .footerphone{
	font-size: 2vh;
	font-family: "FontAwesome";
	color: rgb(255, 255, 255);
	line-height: 1.857;
	text-align: left;
}

.first-title .address{
	font-size: 2vh;
	font-family: "FontAwesome";
	color: rgb(255, 255, 255);
	line-height: 1.857;
	text-align: left;
}

.footer-menu{
	width: 100%;
}
.footer-menu ul{
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 17vw;
}

.footer-menu li{
	padding-bottom: 2vh;
}

.third-title ul{
	padding:0;
	margin-top: 2vh;
	color: #fff;
	list-style-type: none;
}
.third-title li{
	margin-bottom: 1.3vh;
}

#back-btn{
	border: 0;
	color: #fff;
	background: #C59D5F;
	list-style: none;
	font-size: 0.8vw;
	position: relative;
	bottom: 2vh;
	right: 1.3vw;
	outline: none;
}
#back-btn:hover{
	cursor: pointer;
}

.order-good{
	color: #fff;
	margin: 0 0 1.5vh;
}

.order-li{
	cursor: pointer;
}

.stroke .clearitem{
	font-size: 2.5vh;
	font-family: "sans-serif";
	text-transform: none;
	line-height: normal;
}

.user-price-invis{
	display: none;
}

.lang_form{
	padding-right: 0 !important;
	position: relative;
	top: 0;
	right: 0;
}

.lang_btn{
	outline: none;
	border: none;
	background: inherit;
	color: rgb(197, 157, 95);
	font-size: 2.5vh;
	cursor: pointer;
	transition: 0.3s;
}
.lang_btn:hover{
	color: #e2e2e2;
}


.goodorder .fa{
	color: green;
	padding-left: 1vw;

}
.goodorderdiv{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	visibility: hidden;
}

.goodorderdiv.active{
	visibility: visible;
}

.goodorderdiv .updateorder{
	visibility: visible;
}
.goodorderdiv .salad-ingredients{
	display: block;
	visibility: visible;
}

.salad-inner .goodorderdiv{
	display: block;
}
.drink-inner .goodorderdiv{
	display: block;
}

.salad-inner .goodorder .fa{
	position: relative;
	bottom: 3.5vh
}

.drink-inner .goodorder .fa{
	position: relative;
	bottom: 3vh;
	left: 4vw;
}
